$yellow: #f8d545;
$purple: #913abd;
$pink: #e8128c;
$blue: #64d7ae;
$white: #fafdfa;

$section-padding: 36px;

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    h2 {
        margin: 0;
    }
}

.intro {
    margin: 0;
    padding: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    color: $purple;
    .intro-name {
        margin: 0;
        font-weight: 100;
        font-size: 36px;
        letter-spacing: 1.5px;
    }
    .intro-title {
    }
}

.projects-section {
    padding: $section-padding;
    background-color: $purple;
    color: $yellow;
    .projects-title {
        font-size: 32px;
        font-weight: 200;
        letter-spacing: 1.5px;
        color: $blue;
    }
    .project-title {
        letter-spacing: 1px;
    }
}

.skills-section {
    padding: $section-padding;
    background-color: $pink;
    .skills-title {
        color: $blue;
        font-size: 32px;
        font-weight: 200;
        letter-spacing: 1.5px;
    }
    .skillset-title {
        color: $yellow;
        letter-spacing: 1.5px;
        font-weight: 400px;
        font-size: 22px;
        margin-bottom: 12px;
    }
    .skill-title {
        font-weight: 200;
        letter-spacing: 1.5px;
        color: $yellow;
    }
}

.education-section {
    padding: $section-padding;
    background-color: $blue;
    .education-title {
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .school-title {
        color: $pink;
    }
}

.work-section {
    padding: $section-padding;
    background-color: $yellow;
    .work-title {
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .job-title {
        color: $pink;
    }
}

.contact-section {
    padding: $section-padding;
    background-color: $purple;
    .contact-title {
        font-size: 32px;
        font-weight: 200;
        color: $blue;
    }
    .contact {
        color: $yellow;
    }
}