#next {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 95%;
  margin: 10px;
  background-color: purple;
  color: white;
}

.bubble {
  display: inline-block;
  padding: 6px 16px;
  font-size: 22px;
  margin: 6px;
  border-radius: 11px;
}

.bubble-blue {
  background-color: #6270cc;
  color: white;
}

.bubble-grey {
  background-color: #e3e3e3;
}
