$primary-text: #212121;
$secondary-text: #727272;
$yellow: #f8d545;
$purple: #913abd;
$pink: #e8128c;
$blue: #64d7ae;
$white: #fafdfa;
$bg-color: #e9eaea;
$section-padding: 28px;

html,
body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $secondary-text;
    h2 {
        margin: 0;
    }
    .section-container {
        margin: 0 auto;
        max-width: 1170px;
    }
    .grid-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.intro {
    margin: 0;
    background-color: $purple;
    padding: $section-padding;
    .intro-headings-container {
        .intro-name {
            margin: 0;
            font-weight: 200;
            font-size: 36px;
            color: #eee;
        }
        .intro-title {
            margin: 6px;
            color: #bbb;
        }
    }
    .intro-hero-img {
        margin: 16px 0;
        width: 100%;
    }
    .intro-description {
        color: #eee;
        .intro-description-line {
            font-size: 16px;
            margin: 12px 0;
        }
    }
}

.projects-section {
    padding: $section-padding;
    .projects-title {
        margin-bottom: 22px;
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .project {
        width: 100%;
        margin: 9px 0;
        background-color: #fff;
        &:hover {
            cursor: pointer;
            box-shadow: 0 4px 18px #888888;
        }
        .project-img {
            width: 100%;
        }
        .project-title,
        .project-description {
            margin: 16px 12px;
        }
    }
}

.skills-section {
    padding: $section-padding;
    background-color: #fff;
    .skills-title {
        color: $purple;
        font-size: 32px;
        font-weight: 200;
    }
    .skillset-title {
        letter-spacing: 1.5px;
        font-weight: 400px;
        font-size: 22px;
        margin-bottom: 12px;
    }
    .skill-title {
        font-weight: 200;
    }
}

.education-section {
    padding: $section-padding;
    .education-title {
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .school-title {
    }
}

.work-section {
    padding: $section-padding;
    .work-title {
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .job-title {
    }
}

.contact-section {
    padding: $section-padding;
    .contact-title {
        font-size: 32px;
        font-weight: 200;
        color: $purple;
    }
    .contact {
    }
}

@media (min-width: 525px) {
    .intro {
        .intro-headings-container {
            margin: 36px 0;
            .intro-name {
                font-size: 56px;
            }
            .intro-title {
                font-size: 22px;
                margin: 14px 8px;
            }
        }
        .intro-description {
            margin: 36px 0;
            color: #eee;
            .intro-description-line {
                font-size: 22px;
                margin: 12px 0;
            }
        }
    }
}




/* Small Screens */
@media (min-width: 525px) and (max-width: 767px) {
    .grid-container {
        justify-content: space-between;
        .sm-col-6 {
            width: 48%;
        }
    }
}

/* Medium Screens */
@media (min-width: 768px) {
    .grid-container {
        .md-col-4 {
            width: 32%;
            margin-right: 2%;
        }
        .md-col-4:nth-child(3n) {
            margin-right: 0;
        }
    }
    .intro {
        .intro-description {
            margin: 56px 0;
        }
    }
}
