html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e9eaea;
  color: #666; }
  html .hidden,
  body .hidden {
    display: none;
    visibility: hidden; }
  html .fa-circle-o-notch,
  body .fa-circle-o-notch {
    display: block;
    margin: 20vh auto;
    text-align: center;
    font-size: 36px;
    color: #888; }
  html .underline-red,
  body .underline-red {
    border-bottom: 2.5px solid #ff8282; }
  html .notification,
  body .notification {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #666;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    will-change: transform;
    transition: bottom 0.3s;
    padding-left: 26px; }
    html .notification .notification-brandname,
    body .notification .notification-brandname {
      margin: 0; }
  html .notification.show,
  body .notification.show {
    bottom: 0; }
  html .date-heading,
  body .date-heading {
    display: flex;
    justify-content: space-between;
    align-items: bottom; }
  html .date-heading *,
  body .date-heading * {
    margin: 0;
    margin-top: 16px; }

#tutorial-container {
  padding: 24px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  margin: 14vh auto;
  width: 60vw;
  height: 70vh;
  background-color: #fff;
  box-shadow: 0 4px 18px #555;
  z-index: 100;
  min-width: 322px;
  max-width: 800px; }
  #tutorial-container .tutorial-heading {
    margin: 0; }
  #tutorial-container .instruction {
    font-size: 17px; }
  #tutorial-container #close-button {
    font-size: 24px;
    margin: auto 0 0 auto;
    color: #ff8282; }
    #tutorial-container #close-button:hover {
      color: #aa3333;
      cursor: pointer; }

.navigation {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 70px;
  text-align: center; }
  .navigation .navigation-foods-tab {
    width: 100%;
    cursor: pointer; }
  .navigation .navigation-profile-tab {
    width: 100%;
    cursor: pointer; }

.main-container {
  margin: 0 auto;
  padding-top: 70px;
  display: flex; }
  .main-container .foods {
    width: 100%; }
  .main-container .profile {
    width: 100%; }
    .main-container .profile .profile-calories {
      text-align: center;
      padding: 20px; }
    .main-container .profile .total-calories {
      font-size: 36px;
      font-weight: 100;
      letter-spacing: 2px; }
    .main-container .profile .date-heading {
      padding: 8px; }

.search-container {
  display: flex; }
  .search-container .search-bar {
    width: 80%;
    border: 1px solid #fff;
    font-size: 18px;
    height: 100%;
    padding: 16px; }
  .search-container .search-button {
    width: 20%;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 5px;
    font-size: 18px;
    color: #777;
    padding: 16px; }
    .search-container .search-button:hover {
      cursor: pointer; }

.food-item {
  width: calc(100% - 24px);
  margin-top: 10px;
  padding: 12px 10px 5px;
  display: flex;
  justify-content: space-between;
  background-color: #fff; }
  .food-item:hover {
    background-color: #d1d7fc;
    cursor: pointer; }
  .food-item .food-name {
    width: 60%; }
  .food-item .food-item-calories {
    text-align: right; }
  .food-item .food-action {
    display: none; }

.profile-item .fa-trash {
  margin: 0;
  color: #bbb;
  font-size: 22px; }

.profile-item .food-action {
  display: flex;
  align-items: center; }

.profile-item:hover {
  background-color: #fff;
  color: #666;
  cursor: default; }

.profile-item .fa-trash:hover {
  color: #666;
  cursor: pointer; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navigation {
    display: none; }
  .main-container {
    padding-top: 20px; }
    .main-container .foods {
      margin-right: 4px;
      display: block; }
    .main-container .profile {
      margin-left: 4px;
      display: block;
      visibility: visible; }
    .main-container .profile-foods {
      overflow-y: scroll;
      height: 70vh; }
    .main-container .search-container {
      margin-bottom: 8px; }
    .main-container .food-search-results {
      overflow-y: scroll;
      height: 87vh; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-container {
    width: 970px; } }

/* Large devices (large desktops, 1200px and up) */
